@import url('https://fonts.googleapis.com/css?family=Inconsolata:700');

body {
    font-family: 'montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

.first-section {
    height: 1012px;
    background-image: url("images/section-1(header).jpg");
    background-repeat: no-repeat;
}

.header {
    position: fixed;
    height: 120px;
    width: 100%;
    background-color: #49473f;
    opacity: 0.6;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 1;
}

.label-link {
    text-decoration: none;
    color: #ffffff;
    font-size: 32px;
    font-weight: 900;
}

.part {
    font-family: montserrat, sans-serif;
    color: #ffffff;
    font-weight: 400;
}

.part-of {
    font-family: montserrat, sans-serif;
    font-weight: 700;
    color: #18cfab;
}

.head-nav {
    display: flex;
    padding-left: 200px;
    font-weight: 700;
    line-height: 42px;
}

.nav-item {
    padding-right: 15px;
    color: #b8b8b8;
    font-family: montserrat, sans-serif;
    font-size: 13px;
    font-weight: 700;
    text-decoration: none;
    border: none;
    outline: none;
    background-color: #49473f;
}

.nav-item:hover {
    font-size: 15px;
    color: white;
    transition: 0.4s;
    content: "";
    text-decoration: underline;
}

.fas {
    font-size: 25px;
    color: #b8b8b8;
}

.fas:hover {
    transition: 0.4s;
    color: white;
    font-size: 27px;
}

.rhombus {
    width: 70px;
    height: 33px;
    background: #18cfab;
    position: relative;
}

.rhombus:before,
.rhombus:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
}

.rhombus:before {
    top: -25px;
    border-bottom: 25px solid #18cfab;
}

.rhombus:after {
    bottom: -25px;
    border-top: 25px solid #18cfab;
}

.rhombus-element {
    position: absolute;
    right: 13px;
    bottom: -9px;
    font-size: 52px;
    font-family: montserrat, sans-serif;
    font-weight: 400;
    color: #ffffff;
}

.label-link {
    padding-left: 90px;
    color: #ffffff;
    font-size: 32px;
    font-weight: 900;
}

.first-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 700px;
}

.content-item-mid {
    color: #ffffff;
    font-size: 35px;
    font-family: montserrat, sans-serif;
    font-weight: 400;
}

.content-item-mid-part {
    color: #18cfab;
    font-size: 35px;
    font-family: montserrat, sans-serif;
    font-weight: 400;
}

.content-item-big {
    color: #ffffff;
    font-size: 79px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: montserrat, sans-serif;
    font-weight: 700;
}

.content-item-small {
    color: #d4d4d4;
    font-size: 34px;
    font-family: montserrat, sans-serif;
    font-weight: 400;
    opacity: 0.5;
}

.first-buttons {
    display: flex;
    justify-content: space-evenly;
}

.exp-button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #ffffff;
    width: 166px;
    height: 60px;
    background-color: #18cfab;
    margin-left: 30%;
    border-radius: 5%;
    box-shadow: inset 0 5px 0 0 white;
}

.pur-button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #ffffff;
    width: 166px;
    height: 60px;
    background-color: #00cbf6;
    margin-right: 30%;
    border-radius: 5%;
    box-shadow: inset 0 5px 0 0 white;
}

.icon-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 374px;
}

.icon-item-blue {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 480px;
    height: 374px;
    background-color: #1c2a33;
}

.icon-item-green {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 480px;
    height: 374px;
    background-color: #18cfab;
}

.item-img-blue {
    margin-bottom: 40px;
    color: #18cfab;
}

.item-img-green {
    width: 93px;
    height: 75px;
    color: #ffffff;
    margin-bottom: 62px;
}

.item-img-green {
    color: #ffffff;
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    font-weight: 700;
}

.item-text-blue {
    text-decoration: none;
    color: #18cfab;
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    font-weight: 700;
}

.item-text-green {
    text-decoration: none;
    color: #ffffff;
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    font-weight: 700;
}

.services {
    background-color: #ffffff;
    height: 640px;
    position: relative;
}

.section-title {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    height: 27px;
    background-color: #ffffff;
    color: #4e4e4e;
    font-family: Montserrat, sans-serif;
    font-size: 36px;
    font-weight: 400;
}

.section-title::before {
    content: "";
    position: absolute;
    top: 28%;
    width: 76px;
    height: 1px;
    background-color: #18cfab;
    box-shadow: 20px 5px 0 0 #18cfab;
}

.info-nav {
    display: flex;
    justify-content: center;
    padding-top: 5%;
    margin: 6%;
    color: #717171;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.tab-wrapper {
    margin: 0 auto;
    height: 30%;
    width: 73%;
}

.tabs-links li {
    opacity: 0.3;
    font-family: 'montserrat', sans-serif;
    margin-top: 12%;
    list-style: none;
    padding: 23px 30px;
    border: 1px solid #333;
    cursor: pointer;
}

.tabs-content {
    position: absolute;
}

ul {
    display: flex;
    justify-content: center;
}

.tabs-content li {
    position: absolute;
    font-family: 'montserrat', sans-serif;
    transition: all 0.5s ease-in;
    list-style: none;
}

.tabs-content-opacity {
    opacity: 0;
    font-family: 'montserrat', sans-serif;
}

.tabs-opacity {
    opacity: 1;
}

.tabs-img {
    width: 194px;
    position: absolute;
    height: 139px;
    left: 2px;
    top: 45px;
}

.tabs-text {
    color: #777777;
    position: absolute;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    left: 234px;
    width: 639px;
    font-weight: 300;
    top: 58px;

}

.active {
    background-color: #18cfab;
    color: white;
}

.passive {
    background-color: white;
}

.purch {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-position-x: 45%;
    background-position-y: 50%;
    background-image: url("images/section-2.jpg");
    background-size: cover;
    height: 474px;
    opacity: 0.9;
}

.purch::before {
    content: '';
    position: absolute;
    z-index: -1;
    background-color: black;
    opacity: 0.6;
    width: 100%;
    height: 60%;
}

.big-text-purch {
    text-align: center;
    color: #18cfab;
    font-family: Montserrat, sans-serif;
    font-size: 40px;
    font-weight: 700;
}

.small-text-purch {
    text-align: center;
    color: #d8d8d8;
    margin-top: 1%;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.purch-link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #ffffff;
    margin-top: 9%;
    width: 166px;
    height: 60px;
    background-color: #18cfab;
    border-radius: 5%;
    box-shadow: inset 0 5px 0 0 white;
}

.amazing-work {
    background-color: #ffffff;
    height: 640px;
}

.third-section {
    position: relative;
}
* {
    box-sizing: border-box;
}

body {
    background-color: #f1f1f1;
    padding: 20px;
    font-family: Arial;
}

/* Center website */
.main {
    max-width: 1000px;
    margin: auto;
}

h1 {
    font-size: 50px;
    word-break: break-all;
}

.row {
    margin: 8px -16px;
}

.row,
.row > .column {
    padding: 8px;
}

.column {
    float: left;
    width: 33.33%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.content {
    background-color: white;
    padding: 10px;
}

.show {
    display: block;
}

.btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: white;
    cursor: pointer;
}

.btn:hover {
    background-color: #ddd;
}

.btn.active {
    background-color: #666;
    color: white;
}
.plus{
    font-weight: 900;
}